.process-cont {
  min-height: 100vh;
  padding: 20px;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f03066;
}

.pro-heading {
  color: #ffffff;
  font-weight: 400;
}
.line-arrow-dot-pr {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 9px;
  margin-left: 110px;
}
.line-pr {
  border: 2px yellow solid;
  width: 600px;
}
.dot-pr {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: yellow;
}
.process-list-cont {
  list-style-type: none;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
}
.list-item {
  width: 25%;
  padding: 5px;
}
.list-item:hover {
  box-shadow: #00000079 0px 0px 15px 0px;
}
.list-item-heading {
  color: #ffffff;
}
.list-des {
  color: #ffffff;
  line-height: 25px;
  font-size: 16px;
}
@media (max-width: 768px) {
  .process-cont {
    height: 50vh;
  }
  .process-list-cont {
    width: 100%;
  }
  .list-item {
    width: 32%;
  }
  .pro-heading {
    font-size: 22px;
  }
  .line-pr {
    width: 300px;
  }
  .process-list-cont {
    margin-top: 20px;
    height: 50vh;
  }
  .list-item {
    height: 60vh;
    overflow: auto;
  }
  .list-item-heading {
    font-size: 20px;
  }
}
